@import url(../vendor/normalize.css);
@import url(../blocks/header.css);
@import url(../blocks/footer.css);
@import url(../blocks/popup.css);

html {
    scroll-behavior: smooth;
}

.page {
    font-family: 'Montserrat';
    font-weight: 400;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.93);
}

.main {
    /* background-color: rgba(101, 101, 101, 1); */
    display: flex;
    justify-content: space-between;
    height: 100%;
    box-sizing: content-box;
    flex-direction: column;
    /* padding-top: 130px; */
}

.main__nav {
    background-color: rgba(0, 0, 0, 1);
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main__nav-link {
    color: #F5F5F5;
    font-weight: 400;
    text-decoration: none;
    font-size: 36px;
    line-height: 43.88px;
    margin-left: 60px;
}

.main__nav-link:first-child {
    margin: 0;
}

.main__nav-link_active {
    font-weight: 600;
}

.main__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58.51px;
    color: white;
    margin: 32px 0 57px 43px;
}

.main__section {
    display: flex;
    margin: 0 99px 77px 43px;
    justify-content: space-between;
}

.main__section_last {
    margin: 0 99px 59px 43px;
    flex-direction: column;
}

.section__box {
    display: flex;
    flex-direction: column;
}

.section__paragraph {
    font-size: 36px;
    line-height: 43.88px;
    color: white;
    width: 30.57vw;
    height: auto;
}

.section__paragraph_bottom {
    margin-top: 33px;
}

.section__paragraph_second_bottom {
    margin-top: 50px;
}

.section__paragraph_second {
    width: 54.635vw;
}

.section__button {
    background-color: #F0D237;
    width: 382px;
    height: 90px;
    border: none;
    font-size: 32px;
    font-weight: 600;
    line-height: 39.01px;
    text-align: center;
    margin: 86px 0 0 0;
    cursor: pointer;
    transition: opacity 0.5s ease;
    color: black;
}

.section__button:hover {
    opacity: 0.8;
}

.section__paragraph_fade {
    width: 38.9vw;
}

.section__paragraph_second-fade {
    width: 49.375vw;
}

.section__paragraph_measure {
    width: 100%;
}

.section__paragraph_measure:first-child {
    margin-bottom: 40px;
}

.section__button_unactive {
    display: none;
}

.section__accordeon-button {
    display: none;
}

.main__part {
    position: relative;
    z-index: 0;
}

.main__part-video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    opacity: 0.3;
}

#format {
    margin-top: 43px;
}

@media screen and (max-width: 1600px) {
    #format {
        margin-top: 43px;
    }

    .main__nav {
        display: none;
    }

    .section__button_active {
        display: none;
    }

    .section__button_unactive {
        display: block;
        width: 415px;
        height: 68px;
        margin: 0;
        font-size: 24px;
        line-height: normal;
    }

    .main__section {
        flex-direction: column;
        justify-content: initial;
        margin: 0 99px 43px 43px;
    }

    .section__paragraph {
        width: 100%;
    }

    .section__accordeon-button {
        display: block;
        width: 43px;
        height: 23px;
        background-color: rgb(0, 0, 0, 0);
        border: none;
        cursor: pointer;
        background-image: url(../images/down.svg);
        background-size: cover;
        margin: 23px auto 36px auto;
    }

    .section__accordeon-button_active {
        background-image: url(../images/up.svg);
    }

    .section__paragraph-box {
        position: relative;
        overflow: hidden;
        max-height: 0;
        transition: 0.3s;
        margin-top: 29px;
    }

    .section__paragraph-box_last {
        margin-top: 0;
    }

}

@media screen and (max-width: 830px) {
    .main__title {
        margin: 0 0 57px 2.3vw;
        font-size: 34px;
    }

    .main__section {
        margin: 0 0 43px 2.3vw;
    }

    .main__section_last {
        margin: 0 0 43px 2.3vw;
    }

    .section__paragraph {
        font-size: 27px;
        line-height: 35px;
    }

    .section__button_unactive {
        display: block;
        width: 290px;
        height: 68px;
        margin: 0;
        font-size: 24px;
        line-height: normal;
    }
}