@import url(../vendor/normalize.css);
@import url(../blocks/header.css);
@import url(../blocks/footer.css);
@import url(../blocks/popup.css);

.page {
    font-family: 'Montserrat';
    font-weight: 400;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.93);
}

.main {
    background-color: rgba(101, 101, 101, 1);
    display: flex;
    flex-direction: column;
    padding: 0 2.239vw 50px 2.239vw;
    height: 100%;
}

.main__section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 79px;
    margin-top: 49px;
}

.main__section:last-child {
    margin: 0;
}

.main__section-title {
    width: 47.916%;
    color: #F5F5F5;
    font-size: 36px;
    line-height: 43.88px;
    font-weight: 400;
}

.main__section-video {
    height: 35.55vh;
    width: 35.57vw;
}

@media screen and (min-width: 830px) and (max-width: 1279px) {
    .main {
        padding: 35px 5.5vw 35px 5.5vw;
    }

    .main__section {
        flex-direction: column;
        margin-bottom: 48px;
    }

    .main__section-title {
        width: 100%;
        font-size: 24px;
        line-height: 29.26px;
        margin-bottom: 54px;
    }

    .main__section-video {
        height: 35vh;
        width: 100%;
    }
}

@media screen and (max-width: 829px) {
    .main {
        padding: 35px 8.61vw 17px 8.61vw;
    }

    .main__section {
        flex-direction: column;
        margin-bottom: 61px;
    }

    .main__section-title {
        width: 100%;
        font-size: 24px;
        line-height: 29.26px;
        margin-bottom: 63px;
    }

    .main__section-video {
        height: 21.48vh;
        width: 100%;
    }
}